#welcome .style32 font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	background-image: url(gate.jpeg);
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #9999FF;
	border-left-color: #000000;
	color: #006633;
}
